.switch {
  --line: #505162;
  --dot: #f7f8ff;
  --circle: #9ea0be;
  --duration: 0.3s;
  --text: #9ea0be;
  cursor: pointer;
  input {
    display: none;
    & + div {
      position: relative;
      &:before,
      &:after {
        --s: 1;
        content: '';
        position: absolute;
        height: 0.4rem;
        top: 1rem;
        width: 2.4rem;
        background: var(--line);
        transform: scaleX(var(--s));
        transition: transform var(--duration) ease;
      }
      &:before {
        --s: 0;
        left: 0;
        transform-origin: 0 50%;
        border-radius: 0.2rem 0 0 0.2rem;
      }
      &:after {
        left: 2.8rem;
        transform-origin: 100% 50%;
        border-radius: 0 0.2rem 0.2rem 0;
      }
      span {
        padding-left: 5.6rem;
        line-height: 2.4rem;
        color: var(--text);
        &:before {
          --x: 0;
          --b: var(--circle);
          --s: 0.4rem;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
          box-shadow: inset 0 0 0 var(--s) var(--b);
          transform: translateX(var(--x));
          transition: box-shadow var(--duration) ease,
            transform var(--duration) ease;
        }
        &:not(:empty) {
          padding-left: 6.4rem;
        }
      }
    }
    &:checked {
      & + div {
        &:before {
          --s: 1;
        }
        &:after {
          --s: 0;
        }
        span {
          &:before {
            --x: 2.8rem;
            --s: 1.2rem;
            --b: var(--dot);
          }
        }
      }
    }
  }
}
