//   white: '#FFFFFF',
//   red: '#EB5757',

//   lightBLue: 'rgba(46, 121, 238, 0.2)',
//   green: '#219653',
//   lightGreen: 'rgba(111, 207, 151, 0.2)',
//   grey0: '#F8F8F8',
//   grey1: '#F2F2F2',
//   grey2: '#4F4F4F',
//   grey3: '#828282',
//   grey4: '#BDBDBD',
//   grey5: '#E0E0E0',
//   grey6: '#333333',

// COLORS
$color-primary-white: #f8f8ff;
$color-primary-black: #0e1111;
$color-primary-blue: #2e79ee;
$color-primary-red: #eb5757;
$color-secondary-red: #f9423a;

$color-grey-main-light: #a1abb1;
$color-grey-light: #4f4f4f;
