// SPACE

$space-small: 0.8rem;
$space-medium: 1.6rem;
$space-large: 2.2rem;
$space-extra: 3rem;

// FONTSIZE

$font-size-small: 1rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;

// TRANSITION--SPEED

$transition-slow: 0.8s;
$transition-medium: 0.5s;
$transition-fast: 0.3s;
